In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Francois,FR,2022-02-03 08:47:28,46.4154,3.9054,42.67,100,100,6.91
1,1,Saint-Philippe,RE,2022-02-03 08:47:29,-21.3585,55.7679,79.11,97,100,34.76
2,2,Santa Cruz,BO,2022-02-03 08:45:04,-17.8000,-63.1667,72.86,94,20,6.91
3,3,Vila Velha,BR,2022-02-03 08:47:30,-20.3297,-40.2925,75.15,97,75,2.30
4,4,Quatre Cocos,MU,2022-02-03 08:47:31,-20.2078,57.7625,79.09,91,100,23.85

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], \
                                 dissipating = False, max_intensity = 300, point_radius = 4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, \
                                 max_intensity = 300, point_radius = 4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
#Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, \
                                 dissipating = False, max_intensity = 300, point_radius = 4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
#Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, \
                                 dissipating = False, max_intensity = 300, point_radius = 4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Saint-Philippe,RE,2022-02-03 08:47:29,-21.3585,55.7679,79.11,97,100,34.76
3,3,Vila Velha,BR,2022-02-03 08:47:30,-20.3297,-40.2925,75.15,97,75,2.30
4,4,Quatre Cocos,MU,2022-02-03 08:47:31,-20.2078,57.7625,79.09,91,100,23.85
11,11,Port Alfred,ZA,2022-02-03 08:47:36,-33.5906,26.8910,75.65,80,93,12.08
15,15,Georgetown,MY,2022-02-03 08:46:27,5.4112,100.3354,86.95,74,40,5.01
16,16,Lorengau,PG,2022-02-03 08:47:40,-2.0226,147.2712,80.19,78,100,6.93
18,18,Mahebourg,MU,2022-02-03 08:47:41,-20.4081,57.7000,79.25,94,75,26.46
20,20,Bontang,ID,2022-02-03 08:47:43,0.1333,117.5000,83.30,71,94,7.31
22,22,Boyolangu,ID,2022-02-03 08:47:45,-8.1181,111.8935,83.55,75,53,7.31
26,26,Vaini,TO,2022-02-03 08:47:48,-21.2000,-175.2000,78.96,94,40,2.30

In [18]:
preferred_cities_df.count()

City_ID       139
City          139
Country       137
Date          139
Lat           139
Lng           139
Max Temp      139
Humidity      139
Cloudiness    139
Wind Speed    139
dtype: int64

In [23]:
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       137
City          137
Country       137
Date          137
Lat           137
Lng           137
Max Temp      137
Humidity      137
Cloudiness    137
Wind Speed    137
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1   Saint-Philippe      RE     79.11 -21.3585   55.7679
3       Vila Velha      BR     75.15 -20.3297  -40.2925
4     Quatre Cocos      MU     79.09 -20.2078   57.7625
11     Port Alfred      ZA     75.65 -33.5906   26.8910
15      Georgetown      MY     86.95   5.4112  100.3354
16        Lorengau      PG     80.19  -2.0226  147.2712
18       Mahebourg      MU     79.25 -20.4081   57.7000
20         Bontang      ID     83.30   0.1333  117.5000
22       Boyolangu      ID     83.55  -8.1181  111.8935
26           Vaini      TO     78.96 -21.2000 -175.2000

In [45]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp,dissipating = False,
             max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))